[Unit]
Description=Noctalia Lyrics Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 /home/ian/.local/bin/spotify-lyrics-daemon.py
Restart=always

[Install]
WantedBy=default.target
